<table class="table">
    <tbody>
    <tr>
        <th>姓名</th>
        <td>{{ data.chinese_name }}</td>
    </tr>
    <tr>
        <th>email</th>
        <td>{{ data.email }}</td>
    </tr>
    </tbody>
</table>