{% extends SelectedLayout() %}
{#{% block pageTitle %}#}
    {#{{ PageTitle ('忘記密碼', {'icon':'ion-android-contact'}) }}#}
{#{% endblock %}#}
{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<!--Sidebar content-->
		</div>
		<div class="span10">
			<!--Body content-->
			<h1>忘記密碼查詢</h1>
            {#{{  }}#}
			<div class="alert alert-error">
				{#<button class="close" data-dismiss="alert" type="button">×</button>#}
                {#<ul>#}
                {% if errorMessage %}
                    <div class="alert alert-warning">{{ errorMessage }}</div>
                {% endif %}
                {#</ul>#}
			</div>
			<div class="box-content">
				{{ form(form) }}
			</div>
		</div>
	</div>
</div>
{% endblock content %}
